<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble</title>
  </head>
  <body>
  <nav>

    <div class="nav">
      <a href="/">Gabble</a>
      <a href="/post">Create a new post</a>
      <a href="">Logged in as {{#gabble}}{{#user}}{{username}}{{/user}}{{/gabble}}</a>
      <a href="/logout">Log out</a>
    </div>

  </nav>
  <main>
    {{#gabble}}
    <div class="posts-container">
      {{#post}}
      {{author}} posted:
      <br>
      {{post}}
      <br>
      posted at: {{dateTime}}
      <br>
      liked by: {{likes}}
      {{/post}}
    </div>
    {{/gabble}}
  </main>
  </body>
</html>
