<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Make a new post</title>
  </head>
  <body>
    <form action="/post" method="post">
      <fieldset>
        <label for="post">Create a new post:</label>
        <textarea name="post"></textarea>
        <div class="submit-button">
          <input type="submit">
        </div>
      </fieldset>
    </form>
  </body>
</html>
